* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    perspective: 500px;
}

.content {
    width: 500px;
    height: 700px;
    overflow: hidden;
    background-color: black;
    color: #f8e408;
    transform: perspective(500px) rotate3d(15, 0, 0, 45deg);
}

.first-text {
    font-size: 40px;
    text-align: center;
}

.second-text,
.third-text {
    font-size: 35px;
    text-align: center;
}

.text {

    animation: textMoving 30s linear, textHidden 30s linear 30s;
    animation-fill-mode: forwards;
}

@keyframes textMoving {
    0% {
        transform: translateY(700px);
    }

    100% {
        transform: translateY(-1000px);
    }
}

@keyframes textHidden {
    to {
        opacity: 0;
    }
}